.profile {
  width: 100%;
  box-sizing: border-box;
  padding: 74px 0 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__form {
  width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__form-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding: 0px;
  margin: 0 0 123px 0;
}

.profile__form-input-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 17px;
}

.profile__form-input-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 16px 0;
  margin: 0;
  border-bottom: 1px solid #e8e8e8;
}

.profile__form-input-item:last-child {
  border: none;
}

.profile__form-input-label {
  max-width: 141px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.profile__form-input {
  width: 122px;
  text-align: right;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
}

.profile__form-input:focus {
  border: none;
  outline: 1px solid #2be080;
}

.profile__form-input_type_error:focus {
  border: none;
  outline: 1px solid #ff004d;
}

.profile__button-container {
  margin: 220px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0;
  max-width: 410px;
}

.profile__button {
  width: 100%;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  transition: opacity 0.3s ease;
}

.profile__button:disabled {
  color: #000;
}

.profile__button:focus {
  border: none;
  outline: 1px solid #2be080;
}

.profile__button:hover {
  opacity: 0.8;
}

.profile__button_type_exit {
  color: #ff004d;
}

.profile__error-field {
  color: #ff004d;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

@media (max-width: 800px) {
  .profile {
    padding: 236px 0 269px 0;
  }

  .profile__form-title {
    margin-bottom: 96px;
  }
  .profile__button-container {
    margin-top: 210px;
  }
}

@media (max-width: 500px) {
  .profile {
    padding: 70px 0 40px 0;
  }

  .profile__form {
    width: 260px;
  }

  .profile__form-title {
    margin-bottom: 80px;
  }
  .profile__form-input {
    width: 120px;
  }
  .profile__button-container {
    margin-top: 379px;
  }
  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
  .profile__error-field {
    font-size: 12px;
    line-height: 15px;
  }
}
