.promo {
    max-width: 1120px;
    width: 100%;
    margin: 20px 40px 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    border-radius: 10px;
  }
  
  .promo__title {
    max-width: 730px;
    margin: 160px 0 151px 0;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
  }