.page {
    box-sizing: border-box;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    background: #ffffff;
    font-family: Inter,'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
