.header {
  max-width: 1280px;
  width: 100%;
  padding: 18px 70px 18px 70px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 1;
}

.header_purple-color {
  background-color: #F3C1F8;
}

.header__logo {
  background-image: url(../../images/logo.svg);
  min-width: 38px;
  min-height: 38px;
}

.header__navigation {
  display: flex;
  width: 100%;
  gap: 16px;
  align-items: center;
  margin-left: 44px;
}



.header__profile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: opacity 0.3 ease;
}

.header__profile-link-icon{
  border-style: none;
    width: 100px;
    height: 32px;
    object-fit: cover;
}

.header__profile-link_type_sidebar {
  display: flex;
}

.header__profile-link:hover {
  opacity: 0.8;
}

.header__link-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header__auth-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: opacity 0.3 ease;
}

.header__auth-link:hover {
  opacity: 0.8;
}

.header__auth-link_type_register {
  color: #000000;
  text-align: right;
}

.header__auth-link_type_login {
  width: 76px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #000000;
  color: #FFFFFF;
  padding: 8px 20px;
  text-align: center;
}

.header__menu-button {
  display: none;
  transition: opacity 0.3 ease;
  background-image: url("../../images/burger_button.svg");
  background-repeat: no-repeat;
  background-image: cover;
  background-color: transparent;
  border: none;
  width: 44px;
  height: 44px;
  padding: 0;
  transition: opacity 0.3 ease;
}

.header__menu-button:hover {
  opacity: 0.8;
}

@media (max-width: 800px) {
  .header {
    padding: 18px 30px;
  }
  .header__profile-link {
    display: none;
  }
  .header__menu-button {
    display: block;
  }
  .header__navigation {
    display: none;
  }
  .header__navigation_active {
    display: flex;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 18px 14px;
  }
  .header__link-container {
    gap: 14px;
  }
  .header__auth-link {
    font-size: 10px;
    line-height: 16px;
  }
  .header__auth-link_type_login {
    padding: 5px 12px;
    width: 54px;
  }
  .header__menu-button {
    width: 40px;
    height: 43px;
  }
}
