.header {
  width: 100%;
  padding: 18px 70px 38px 70px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  background-image: url(../../images/logo.svg);
  width: 38px;
  height: 38px;
}

.header__navigation {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header__navigation-sidebar {
  display: none;
}

.header__navigation-sidebar_active {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.header__navigation-sidebar-close-btn {
  position: absolute;
  top: 29px;
  right: 29px;
  background-image: url("../../images/close_button.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  width: 22px;
  height: 22px;
  border: none;
  z-index: 2;
  transition: opacity 0.3 ease;
  padding: 0;
}

.header__navigation-sidebar-close-btn:hover {
  opacity: 0.8;
}

.header__navigation-sidebar-container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  width: 67.71vw;
  height: 100%;
  z-index: 1;
}

.header__navigation-sidebar-container-item {
  align-self: center;
}

.header__navigation-sidebar-container-item:first-child {
  margin-top: 159px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
}

.header__navigation-sidebar-container-item:last-child {
  margin-bottom: 90px;
}

.header__navigation-link {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  transition: opacity 0.3 ease;
}
.header__navigation-link_type_sidebar {
  text-align: center;
}
.header__navigation-link:hover {
  opacity: 0.8;
}

.header__navigation-link_type_active-header {
  font-weight: 500;
}

.header__navigation-link_type_active-sidebar {
  font-weight: 500;
  padding-bottom: 4px;
  box-sizing: border-box;
  border-bottom: 2px solid #000000;
}

.header__profile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3 ease;
}

.header__profile-link-icon{
  border-style: none;
    width: 100px;
    height: 32px;
    object-fit: cover;
}

.header__profile-link_type_sidebar {
  display: flex;
}

.header__profile-link:hover {
  opacity: 0.8;
}

.header__link-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header__auth-link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: opacity 0.3 ease;
}

.header__auth-link:hover {
  opacity: 0.8;
}

.header__auth-link_type_register {
  text-align: right;
}

.header__auth-link_type_login {
  width: 76px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #2be080;
  padding: 8px 20px;
  text-align: center;
}

.header__menu-button {
  display: none;
  transition: opacity 0.3 ease;
  background-image: url("../../images/burger_button.svg");
  background-repeat: no-repeat;
  background-image: cover;
  background-color: transparent;
  border: none;
  width: 44px;
  height: 44px;
  padding: 0;
  transition: opacity 0.3 ease;
}

.header__menu-button:hover {
  opacity: 0.8;
}

@media (max-width: 800px) {
  .header {
    padding: 18px 30px;
  }
  .header__profile-link {
    display: none;
  }
  .header__profile-link_type_sidebar {
    display: flex;
  }
  .header__menu-button {
    display: block;
  }
  .header__navigation {
    display: none;
  }
  .header__navigation_active {
    display: flex;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 18px 14px 32px 14px;
  }
  .header__link-container {
    gap: 14px;
  }
  .header__auth-link {
    font-size: 10px;
    line-height: 16px;
  }
  .header__auth-link_type_login {
    padding: 5px 12px;
    width: 54px;
  }
  .header__navigation-sidebar-container {
    width: 100%;
  }
  .header__navigation-sidebar-close-btn {
    top: 13.44px;
    right: 13.44px;
  }
  .header__navigation-sidebar-container-item:first-child {
    margin-top: 144px;
    gap: 24px;
  }
  .header__navigation-sidebar-container-item:last-child {
    margin-bottom: 46px;
  }
  .header__menu-button {
    width: 40px;
    height: 43px;
  }
}
