.navtab {
  width: 100%;
  min-height: 66px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  align-content: center;
}

.navtab__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.navtab__link:hover {
  opacity: 0.8;
}

@media (max-width: 500px) {
  .navtab {
    gap: 24px;
  }
  .navtab__link {
    font-size: 11px;
  }
}
